<h1>パスワードを入力してください</h1>
<%= form_with url: confirm_password_novel_path(@novel), method: :post do |f| %>
  <div>
    <%= f.label :password, "
Error:
NovelsControllerTest#test_should_get_edit:
    app/views/novels/_form.html.erb:25
    app/views/novels/_form.html.erb:25
    app/views/novels/_form.html.erb:1
    app/views/novels/edit.html.erb:3
    test/controllers/novels_controller_test.rb:48:in `block in <class:NovelsControllerTest>'


rails test test/controllers/novels_controller_test.rb:46" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "確認" %>
  </div>
<% end %>