<h1>パスワードを入力してください</h1>
<%= form_with url: confirm_password_novel_path(@novel), method: :post do |f| %>
  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "確認" %>
  </div>
<% end %>